{
    "swagger": "2.0",
    "info": {
        "title": "Alpogo API Documentation",
        "version": "1.0.0"
    },
    "host": "aflores.com.ar",
    "basePath": "/api/v1/",
    "schemes": [
        "http"
    ],
    "paths": {
        "/users/{id}/roles": {
            "get": {
                "tags": [
                    "users/roles"
                ],
                "summary": "Detalle de roles de usuario",
                "description": "Retorna los roles de un usuario",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de un usuario",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Invalid id",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        }
                    },
                    "402": {
                        "description": "User not found",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        }
                    }
                }
            }
        },
        "/users/{id}/roles/attach": {
            "post": {
                "tags": [
                    "users/roles"
                ],
                "summary": "A\u00f1ade un rol al usuario",
                "description": "",
                "operationId": "attach_role_user",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de un usuario",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "properties": {
                                "slug": {
                                    "type": "string",
                                    "default": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Invalid input"
                    },
                    "401": {
                        "description": "Invalid id"
                    },
                    "402": {
                        "description": "User not found"
                    },
                    "403": {
                        "description": "Role not found"
                    },
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/users/{id}/roles/detach": {
            "post": {
                "tags": [
                    "users/roles"
                ],
                "summary": "Sustrae un rol al usuario",
                "description": "",
                "operationId": "detach_role_user",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de un usuario",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "properties": {
                                "slug": {
                                    "type": "string",
                                    "default": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Invalid input"
                    },
                    "401": {
                        "description": "Invalid id"
                    },
                    "402": {
                        "description": "User not found"
                    },
                    "403": {
                        "description": "Role not found"
                    },
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/users": {
            "get": {
                "tags": [
                    "users"
                ],
                "summary": "Lista de usuarios",
                "description": "Retorna la lista de usuarios",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "post": {
                "tags": [
                    "users"
                ],
                "summary": "Registra un usuario",
                "description": "",
                "operationId": "post_user",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Invalid input"
                    },
                    "201": {
                        "description": "Create successfully"
                    }
                }
            }
        },
        "/users/{id}": {
            "get": {
                "tags": [
                    "users"
                ],
                "summary": "Detalle de usuario",
                "description": "Retorna el detalle de un usaurio",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de un usuario",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Invalid id supplied",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        }
                    },
                    "402": {
                        "description": "User not found",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "users"
                ],
                "summary": "Edita un usuario",
                "description": "",
                "operationId": "put_user",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de un usuario",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Invalid id supplied"
                    },
                    "402": {
                        "description": "User not found"
                    },
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "delete": {
                "tags": [
                    "users"
                ],
                "summary": "Elimina un usuario",
                "description": "",
                "operationId": "delete_user",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de un usuario",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Invalid ID supplied"
                    },
                    "402": {
                        "description": "User not found"
                    },
                    "200": {
                        "description": "OK"
                    }
                }
            }
        }
    },
    "definitions": {
        "User": {
            "required": [
                "first_name",
                "last_name",
                "email",
                "passport",
                "birthday"
            ],
            "properties": {
                "first_name": {
                    "type": "string"
                },
                "last_name": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "passport": {
                    "type": "string"
                },
                "birthday": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "password_confirmation": {
                    "type": "string"
                }
            },
            "type": "object",
            "xml": {
                "name": "User"
            }
        }
    }
}